
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//custom Styles

.bottom-one{
  font-size:smaller;
}
#table-three td input{
  border: none;
  outline:none;
}

#table-three{
  width:483px;
  font-size: smaller;
  box-sizing: 0px;
}

.content-wrapper{
  margin: 5rem auto;
  text-align: center;
}

#myTabContent{
  -webkit-font-smoothing: antialiased;
  font-family: 'Ubuntu', sans-serif
}

p{
  text-align: center;
}
#front{
  margin-top: 3rem;
  width: 800px;
}
.text-bold .mt-1 .pt-3 .card-title .text-center{
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
.footnotes{
  display: flex;
  justify-content: space-around;
}

#table-one td input {
  height:125px;
  outline: none;
}


#front > .container-fluid {
  background-color: #fff;
}

.tab-content{
  margin: 0px auto;
}

#front > card{
  background-color: transparent;
  flex-direction: row!important;
  justify-content: space-between;
  border: none;
}

#front .head{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px auto;
  padding: 20px 41px;
}

.head > .address{
  margin-top: 30px;
  text-align: center;
}

div.group{
  display: flex;
  justify-content: space-between;
}

div.tables{
  width:88%;
  margin: 20px auto;
  padding-right: 42px;
}
div.table{
  padding: 20px 20px;
}

.table-bordered{
  width:100%;
  text-align: center;
}

.table-three{
  margin: 20px auto;
}


div.slant{
  transform: rotate(-90deg);
  width:285px;
  height: fit-content;
  margin-top: 45px;
  font-size: 11px;
}

div.slant > p{
  text-align: justify;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

h2.no-margin-bottom{
  display: inline-block;
}


td.tard-close {
  position: absolute;
}

td.tard-close .dropdown-toggle {
  color: #999;
  background: none;
  border: none;
}

td.tard-close .dropdown-toggle:after {
  display: none;
}

td.tard-close .dropdown-menu {
  border: none;
  min-width: auto;
  font-size: 0.9em;
  border-radius: 0;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
}

td.tard-close .dropdown-menu a {
  color: #999 !important;
}

td.tard-close .dropdown-menu a:hover {
  background: #796AEE;
  color: #fff !important;
}

td.tard-close .dropdown-menu a i {
  margin-right: 10px;
  -webkit-transition: none;
  transition: none;
}

